ai-hub-gateway-solution-accelerator-main/src/usage-ingestion-logicapp/ai-usage-streaming-ingestion/workflow.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "Create_Export_Config": {
                "type": "ServiceProvider",
                "inputs": {
                    "parameters": {
                        "databaseId": "@appsetting('CosmosDBDatabase')",
                        "containerId": "@appsetting('CosmosDBContainerConfig')",
                        "item": "{ \"id\": \"001\", \"type\": \"default\", \"lastExportDate\": \"@{formatDateTime(utcNow(), 'yyyy-MM-ddTHH:mm:00')}\", \"totalExportedRecords\": 0 }",
                        "isUpsert": true
                    },
                    "serviceProviderConfiguration": {
                        "connectionName": "AzureCosmosDB",
                        "operationId": "CreateOrUpdateDocument",
                        "serviceProviderId": "/serviceProviders/AzureCosmosDB"
                    }
                },
                "runAfter": {
                    "Read_Export_Config": [
                        "FAILED"
                    ]
                }
            },
            "For_each_Metric_Record": {
                "type": "Foreach",
                "foreach": "@body('Map_Metrics_Rows')",
                "actions": {
                    "Parse_Metric_Record": {
                        "type": "ParseJson",
                        "inputs": {
                            "content": "@items('For_each_Metric_Record')",
                            "schema": {
                                "properties": {
                                    "deploymentName": {
                                        "type": "string"
                                    },
                                    "gatewayName": {
                                        "type": "string"
                                    },
                                    "operationName": {
                                        "type": "string"
                                    },
                                    "productName": {
                                        "type": "string"
                                    },
                                    "promptTokents": {
                                        "type": "number"
                                    },
                                    "responseTokens": {
                                        "type": "number"
                                    },
                                    "routeLocation": {
                                        "type": "string"
                                    },
                                    "routeName": {
                                        "type": "string"
                                    },
                                    "subscriptionId": {
                                        "type": "string"
                                    },
                                    "timestamp": {
                                        "type": "string"
                                    },
                                    "totalTokens": {
                                        "type": "number"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    },
                    "Create_Usage_Log": {
                        "type": "ServiceProvider",
                        "inputs": {
                            "parameters": {
                                "databaseId": "@appsetting('CosmosDBDatabase')",
                                "containerId": "@appsetting('CosmosDBContainerUsage')",
                                "item": "{\n  \"id\": \"@{concat('streaming-', guid())}\",\n  \"timestamp\": \"@{body('Parse_Metric_Record')?['timestamp']}\",\n  \"appId\": \"NA\",\n  \"subscriptionId\": \"@{body('Parse_Metric_Record')?['subscriptionId']}\",\n  \"productName\": \"@{body('Parse_Metric_Record')?['productName']}\",\n  \"targetService\": \"chat.completion\",\n  \"model\": \"streaming\",\n  \"gatewayName\": \"@{body('Parse_Metric_Record')?['gatewayName']}\",\n  \"gatewayRegion\": \"NA\",\n  \"aiGatewayId\": \"managed\",\n  \"RequestIp\": \"NA\",\n  \"operationName\": \"@{body('Parse_Metric_Record')?['operationName']}\",\n  \"sessionId\": \"NA\",\n  \"endUserId\": \"NA\",\n  \"backendId\": \"NA\",\n  \"routeLocation\": \"@{body('Parse_Metric_Record')?['routeLocation']}\",\n  \"routeName\": \"@{body('Parse_Metric_Record')?['routeName']}\",\n  \"deploymentName\": \"@{body('Parse_Metric_Record')?['deploymentName']}\",\n  \"promptTokens\": \"@{body('Parse_Metric_Record')?['promptTokents']}\",\n  \"responseTokens\": \"@{body('Parse_Metric_Record')?['responseTokens']}\",\n  \"totalTokens\": \"@{body('Parse_Metric_Record')?['totalTokens']}\"\n}",
                                "isUpsert": true
                            },
                            "serviceProviderConfiguration": {
                                "connectionName": "AzureCosmosDB",
                                "operationId": "CreateOrUpdateDocument",
                                "serviceProviderId": "/serviceProviders/AzureCosmosDB"
                            }
                        },
                        "runAfter": {
                            "Parse_Metric_Record": [
                                "SUCCEEDED"
                            ]
                        }
                    }
                },
                "runAfter": {
                    "Map_Metrics_Rows": [
                        "SUCCEEDED"
                    ]
                }
            },
            "Read_Export_Config": {
                "type": "ServiceProvider",
                "inputs": {
                    "parameters": {
                        "databaseId": "@appsetting('CosmosDBDatabase')",
                        "containerId": "@appsetting('CosmosDBContainerConfig')",
                        "itemId": "001",
                        "partitionKey": "default"
                    },
                    "serviceProviderConfiguration": {
                        "connectionName": "AzureCosmosDB",
                        "operationId": "ReadDocument",
                        "serviceProviderId": "/serviceProviders/AzureCosmosDB"
                    }
                },
                "runAfter": {}
            },
            "Update_Export_Config": {
                "type": "ServiceProvider",
                "inputs": {
                    "parameters": {
                        "databaseId": "@appsetting('CosmosDBDatabase')",
                        "containerId": "@appsetting('CosmosDBContainerConfig')",
                        "item": "{ \"id\": \"001\", \"type\": \"default\", \"lastExportDate\": \"@{variables('CurrentTime')}\", \"totalExportedRecords\":  @{length(coalesce(body('Map_Metrics_Rows'), createArray()))}}",
                        "isUpsert": true
                    },
                    "serviceProviderConfiguration": {
                        "connectionName": "AzureCosmosDB",
                        "operationId": "CreateOrUpdateDocument",
                        "serviceProviderId": "/serviceProviders/AzureCosmosDB"
                    }
                },
                "runAfter": {
                    "For_each_Metric_Record": [
                        "SUCCEEDED"
                    ]
                }
            },
            "Query_AppInsights_Metrics": {
                "type": "Http",
                "inputs": {
                    "uri": "https://api.applicationinsights.io/v1/apps/78c8f2a1-143c-4930-af5b-536e8531f241/query",
                    "method": "POST",
                    "headers": {
                        "Content-Type": "application/json"
                    },
                    "body": {
                        "query": "let startTime = todatetime('@{variables('LastExportDate')}');\nlet endTime = todatetime('@{variables('CurrentTime')}');\n\ncustomMetrics\n| extend subscriptionId = tostring(customDimensions['SubscriptionId']),\n         productName = tostring(customDimensions['productName']),\n         deploymentName = tostring(customDimensions['deploymentName']),\n         routeName = tostring(customDimensions['routeName']),\n         backendId = tostring(customDimensions['backendId']),\n         operationName = tostring(customDimensions['operationName']),\n         routeLocation = tostring(customDimensions['routeLocation']),\n         gatewayName = tostring(customDimensions['gatewayName'])\n| where ingestion_time() between(startTime .. endTime)\n| where name in ('Prompt Tokens', 'Completion Tokens', 'Total Tokens')\n| summarize totalTokens = sumif(value, name == 'Total Tokens'),\n            responseTokens = sumif(value, name == 'Completion Tokens'),\n            promptTokents = sumif(value, name == 'Prompt Tokens')\n            by subscriptionId, deploymentName, productName, routeName, routeLocation, operationName, gatewayName\n| project timestamp = format_datetime(endTime, 'M/dd/yyyy h:mm:ss tt'), subscriptionId, productName, routeName, deploymentName, operationName, gatewayName, routeLocation, promptTokents, responseTokens, totalTokens",
                        "timespan": "@{variables('LastExportDate')}/@{variables('CurrentTime')}"
                    },
                    "authentication": {
                        "type": "ManagedServiceIdentity",
                        "identity": "/subscriptions/f3da0ca2-a9b5-4b60-869b-a8965b820e42/resourcegroups/RG_SchindlerAI_Landing_Zone_Qual/providers/Microsoft.ManagedIdentity/userAssignedIdentities/usagemi-apim-genai-lz-qa-01",
                        "audience": "https://api.loganalytics.io"
                    }
                },
                "runAfter": {
                    "Initialize_Current_Time": [
                        "SUCCEEDED"
                    ]
                },
                "runtimeConfiguration": {
                    "contentTransfer": {
                        "transferMode": "Chunked"
                    }
                }
            },
            "Extract_AppInsights_Rows": {
                "type": "Compose",
                "inputs": "@array(coalesce(body('Query_AppInsights_Metrics')?['tables']?[0]?['rows'], json('[]')))",
                "runAfter": {
                    "Query_AppInsights_Metrics": [
                        "SUCCEEDED"
                    ]
                }
            },
            "Map_Metrics_Rows": {
                "type": "Select",
                "inputs": {
                    "from": "@outputs('Extract_AppInsights_Rows')",
                    "select": {
                        "timestamp": "@item()[0]",
                        "subscriptionId": "@item()[1]",
                        "productName": "@item()[2]",
                        "routeName": "@item()[3]",
                        "deploymentName": "@item()[4]",
                        "operationName": "@item()[5]",
                        "gatewayName": "@item()[6]",
                        "routeLocation": "@item()[7]",
                        "promptTokents": "@item()[8]",
                        "responseTokens": "@item()[9]",
                        "totalTokens": "@item()[10]"
                    }
                },
                "runAfter": {
                    "Extract_AppInsights_Rows": [
                        "SUCCEEDED"
                    ]
                }
            },
            "Initialize_Current_Time": {
                "type": "InitializeVariable",
                "inputs": {
                    "variables": [
                        {
                            "name": "LastExportDate",
                            "type": "string",
                            "value": "@if(equals(outputs('Read_Export_Config')?['statusCode'], 'OK'), body('Read_Export_Config')?['content']['lastExportDate'], formatDateTime(utcNow(), 'yyyy-MM-ddTHH:mm:00'))"
                        },
                        {
                            "name": "CurrentTime",
                            "type": "string",
                            "value": "@formatDateTime(utcNow(), 'yyyy-MM-ddTHH:mm:00')"
                        }
                    ]
                },
                "runAfter": {
                    "Create_Export_Config": [
                        "SUCCEEDED",
                        "SKIPPED"
                    ]
                }
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {},
        "triggers": {
            "Recurrence": {
                "type": "Recurrence",
                "recurrence": {
                    "frequency": "Day",
                    "interval": 1,
                    "schedule": {
                        "hours": [
                            "12",
                            "20"
                        ]
                    },
                    "timeZone": "GMT Standard Time"
                }
            }
        }
    },
    "kind": "stateful"
}